<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Flyyta" />
    <meta name="email" content="Flyyta@gmail.com" />
    <meta name="name" content="Flyyta" />
    <meta name="type" content="Personal Portfolio" />
    <meta
      name="title"
      content="Flyyta - Personal Portfolio Bootstrap HTML Template"
    />
    <meta
      name="keywords"
      content="Flyyta, portfolio, personal, html, template, bootstrap, bussiness, clean, creative, resume, cv, designer, responsive, minimal, freelancer"
    />
    <title>Flyyta - Blog Details</title>
    <link rel="icon" href="../assets/img/favicon.png" />
    <link rel="stylesheet" href="../assets/font/flaticon/index/flaticon.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/custom/main.css" />
    <link rel="stylesheet" href="../assets/css/custom/blog-details.css" />
  </head>
  <body>
    <a class="back2top-btn" href="#"
      ><i class="fas fa-long-arrow-alt-up"></i
    ></a>
    <nav class="navbar-part">
      <div class="container">
        <div class="navbar-content">
          <a class="navbar-logo" href="/"
            ><img src="../assets/img/logo.png" alt="logo" /></a
          ><button class="navbar-toggle" type="button">
            <i class="fas fa-bars"></i>
          </button>
          <div class="navbar-slide">
            <a class="navbar-cross" href="#"><i class="fas fa-times"></i></a>
            <ul class="navbar-list">
              <li class="navbar-item">
                <li class="navbar-item "><a class="navbar-link" href="/">Home</a></li>
                <li class="navbar-item active"><a class="navbar-link" href="/blog-list.html">Blogs</a></li>
              </li>
            </ul>
            <div class="navbar-btn">
              <a class="btn btn-inline" href="/contact.html"
                ><i class="fas fa-code"></i><span>Let's Chat</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="single-banner">
      <div class="single-oly">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="single-content">
                <h1>Blog Details</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {title}
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="blog-det-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="blog-det-banner">
              <img src="../assets/img/blog-1.jpg" alt="blog-details" />
              <div class="blog-det-content">
                <div class="blog-det-title">
                  <h2><a href="#">{title}</a></h2>
                </div>
                <ul class="blog-det-meta">
                  <li>
                    <i class="far fa-user"></i>
                    <p>By Admin</p>
                  </li>
                  <li>
                    <i class="far fa-calendar-alt"></i>
                    <p>02 Feb 2020</p>
                  </li>
                  <li>
                    <i class="far fa-folder-open"></i>
                    <p>Concert</p>
                  </li>
                  <li>
                    <i class="far fa-comments"></i>
                    <p>37 Comment</p>
                  </li>
                  <li>
                    <i class="far fa-share-square"></i>
                    <p>21 Share</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="blog-det-descrip content-fluid">
              <p>{body}</p>
            </div>
            <div class="blog-det-footer">
              <div class="blog-det-share">
                <h4>Share:</h4>
                <ul>
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-behance"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="blog-det-author">
              <div class="author-img">
                <a href="#"
                  ><img src="../assets/img/comment-2.jpg" alt="author"
                /></a>
                <ul class="author-social">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
              <div class="author-content">
                <h4>
                  {siteAuthorName}<a href="#">abhiisshakee.netlify.app/</a>
                </h4>
                <p>{siteAuthorDescription}</p>
              </div>
            </div>

            <div class="blog-det-comment">
              <h3>Comments (3)</h3>
              <ul class="comment-list">
                <li>
                  <div class="comment">
                    <div class="comment-img">
                      <a href="#"
                        ><img src="../assets/img/comment-1.jpg" alt="comment-1"
                      /></a>
                    </div>
                    <div class="comment-content">
                      <h4>Abhishek Mogaveera <span>02 February 2020</span></h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Vero ab aperiam corrupti maiores animi nisi ratione
                        maxime quae in doloremque corporis tempore earum ut
                        voluptas exercitationem.
                      </p>
                    </div>
                    <div class="comment-reply">
                      <a href="#"><i class="fas fa-reply-all"></i>reply</a>
                    </div>
                  </div>
                  <ul>
                    <li>
                      <div class="comment">
                        <div class="comment-img">
                          <a href="#"
                            ><img
                              src="../assets/img/comment-2.jpg"
                              alt="comment-2"
                          /></a>
                        </div>
                        <div class="comment-content">
                          <h4>Tahmina Bonny <span>02 February 2020</span></h4>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Vero ab aperiam corrupti maiores animi nisi
                            ratione maxime quae in doloremque corporis tempore
                            earum ut voluptas exercitationem.
                          </p>
                        </div>
                        <div class="comment-reply">
                          <a href="#"><i class="fas fa-reply-all"></i>reply</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="comment">
                    <div class="comment-img">
                      <a href="#"
                        ><img src="../assets/img/comment-3.jpg" alt="comment-3"
                      /></a>
                    </div>
                    <div class="comment-content">
                      <h4>Labonno Khan <span>02 February 2020</span></h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Vero ab aperiam corrupti maiores animi nisi ratione
                        maxime quae in doloremque corporis tempore earum ut
                        voluptas exercitationem.
                      </p>
                    </div>
                    <div class="comment-reply">
                      <a href="#"><i class="fas fa-reply-all"></i>reply</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="blog-det-form">
              <h3>Leave Your Comment</h3>
              <form>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Your Name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Your Email"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea
                        class="form-control"
                        placeholder="Your Comment"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-btn">
                      <button type="submit" class="btn btn-inline">
                        <i class="fas fa-tint"></i
                        ><span>Drop your comment</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section footer-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="footer-logo">
              <a href="#"
                ><img src="../assets/img/logo.png" alt="footer-logo"
              /></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="footer-icon">
              <li>
                <a class="icon icon-inline" href="#"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a class="icon icon-inline" href="#"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a class="icon icon-inline" href="#"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
              <li>
                <a class="icon icon-inline" href="#"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a class="icon icon-inline" href="#"
                  ><i class="fab fa-dribbble"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="footer-text">
              <li>
                <h6>&copy; Copyright - <span>2021</span></h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/vendor/popper.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.min.js"></script>
    <script src="../assets/js/custom/main.js"></script>
  </body>
</html>
