<div class="col-md-6 col-lg-6">
  <div class="blog-card">
    <div class="blog-img">
      <img src="assets/img/blog-4.jpg" alt="blog-4" />
      <div class="blog-oly"><p>html, css</p></div>
    </div>
    <div class="blog-content">
      <ul class="blog-meta">
        <li>
          <i class="flaticon-calendar"></i>
          <p>02 feb 2020</p>
        </li>
        <li>
          <i class="flaticon-share"></i>
          <p>5 share</p>
        </li>
      </ul>
      <div class="blog-text">
        <h4>
          <a href="./{path}"
            >{ title }</a
          >
        </h4>
      </div>
      <ul class="blog-link">
        <li><a class="btn btn-inline" href="./{path}">read more</a></li>
        <li>
          <i class="flaticon-chat"></i>
          <p>13 comments</p>
        </li>
      </ul>
    </div>
  </div>
</div>